body {
 
  background: #ffffff;
  margin: 0;
  /*背景填滿無邊界*/
  overflow: hidden;
  /*讓物件跑出背景時不會出現捲軸*/
  
}

/*------------定位------------*/
.lefter {
  position:absolute;
  background: #ade3e3;
  width:60%;
  height:100%;
  left:0;
  overflow-x:hidden;
}

.topper{
  position:absolute;
  width:40%;
  height:50%;
  right:0;
  top:0;
  background:#E2F6F6;
}

.bottomer{
  position:absolute;
  width:40%;
  height:50%;
  right:0;
  bottom:0;
  background:#348E8D;
}

/*------------地面------------*/

/*地層*/
.ground {
  position: absolute;
  background: #E2F6F6;
  width: 90%;
  height: 20px;
  bottom: 160px;
  border-radius:0px 10px 10px 0px;
}


/*------------房屋------------*/

/*定位房子*/
.house {
  position: absolute;
  bottom: 220px;
  left:18%;
}

/*牆壁的方形部分*/
.wall {
  position: absolute;
  background: #e2f4f4;
  width: 80px;
  height: 40px;
}

/*牆壁的三角部分*/
.wall:before {
  content: "";
  position: absolute;
  background: transparent;
  width: 0;
  height: 0;
  bottom: 40px;
  border-bottom: 80px solid #e2f4f4;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  /*就是一些三角形設定*/
}

/*屋頂設定*/
.roof {
  position: absolute;
  background: #ffffff;
  width: 100px;
  height: 10px;
  border-radius: 40px;
}

/*右邊屋頂*/
.roof.right {
  left: 14px;
  bottom: 30px;
  transform: rotate(58deg);
}

/*左邊屋頂*/
.roof.left {
  left: -34px;
  bottom: 30px;
  transform: rotate(-58deg);
}

/*房子的門*/
.door {
  position: absolute;
  background: #9acccb;
  width: 20px;
  height: 30px;
  bottom: -40px;
  left: 16px;
}

/*直柵欄*/
.fence {
  position: absolute;
  background: #ffffff;
  width: 3px;
  height: 30px;
  bottom: -40px;
  left: 2px;
  border-radius: 3px;
  box-shadow: -10px 0px 0px #ffffff, -20px 0px 0px #ffffff,
    -30px 0px 0px #ffffff, -40px 0px 0px #ffffff, -50px 0px 0px #ffffff,
    -60px 0px 0px #ffffff, -70px 0px 0px #ffffff;
  /*用陰影做出其他的*/
}

/*橫柵欄*/
.fence:before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 72px;
  height: 3px;
  bottom: 22px;
  right: 0;
  box-shadow: 0px 14px 0px #ffffff;
  /*用陰影做出其他的*/
}

/*------------植物------------*/

/*小樹樹幹*/
.tree_back {
  position: absolute;
  background: #348e8d;
  width: 10px;
  height: 15px;
  bottom: 180px;
  right: 20%;
}

/*小樹*/
.tree_back:before {
  content: "";
  position: absolute;
  background: #e2f4f4;
  width: 30px;
  height: 60px;
  border-radius: 50%;
  bottom: 15px;
  right: -10px;
}

/*大樹樹幹*/
.tree {
  position: absolute;
  background: #348e8d;
  width: 10px;
  height: 40px;
  bottom: 180px;
  right: 18%;
}

/*大樹*/
.tree:before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 40px;
  height: 80px;
  border-radius: 50%;
  bottom: 25px;
  left: -15px;
}

/*------------郵筒------------*/

/*郵筒a*/
.postbox_a {
  position: absolute;
  background: #73fffd;
  width: 20px;
  height: 25px;
  bottom: 190px;
  left: 35%;
  animation-name: upppp;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  /*無限重複播放動畫*/
  animation-timing-function: ease-in-out;
  /*緩入緩出效果*/
  animation-direction: alternate;
  /*反向播放動畫*/
}

/*郵筒a的桿子*/
.postbox_a:after {
  content: "";
  position: absolute;
  background: #76ecea;
  width: 5px;
  height: 20px;
  bottom: -20px;
  left: 8px;
}

/*所有的郵筒洞洞*/
.hole {
  position: absolute;
  background: #ffffff;
  width: 6px;
  height: 2px;
  top: 5px;
  left: 2px;
  box-shadow: 10px 0px 0px rgba(100%, 100%, 100%);
}

/*郵筒b*/
.postbox_b {
  position: absolute;
  background: #2cb7b5;
  width: 20px;
  height: 25px;
  bottom: 190px;
  left: 39%;
  animation-name: upppp;
  animation-duration: 1s;
  animation-delay: 1s;
  /*晚一秒播放動畫*/
  animation-iteration-count: infinite;
  /*無限重複播放動畫*/
  animation-timing-function: ease-in-out;
  /*緩入緩出效果*/
  animation-direction: alternate;
  /*反向播放動畫*/
}

/*郵筒b的桿子*/
.postbox_b:after {
  content: "";
  position: absolute;
  background: #348e8d;
  width: 5px;
  height: 20px;
  bottom: -20px;
  left: 8px;
}

/*郵筒上升動畫*/
@keyframes upppp {
  100% {
    transform: translatey(-10px);
  }
}

/*------------風車------------*/

/*定位風車*/
.windmill {
  position: absolute;
  left: 50%;
  bottom: 180px;
}

/*風車塔*/
.tower {
  position: absolute;
  background: transparent;
  width: 60px;
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 90px solid #e2f4f4;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  bottom: 0;
}

/*風車中間*/
.t1 {
  position: absolute;
  background: #2cb7b5;
  width: 90px;
  height: 10px;
  bottom: 40px;
  left: 5px;
}

/*塔門*/
.t1:before {
  content: "";
  position: absolute;
  background: #2cb7b5;
  width: 20px;
  height: 20px;
  bottom: -40px;
  right: 35px;
  box-shadow: 0px -54px 0px #2cb7b5;
  /*二樓的窗*/
}

/*風車屋頂*/
.t2 {
  position: absolute;
  background: transparent;
  width: 0;
  height: 0;
  border-bottom: 40px solid #2cb7b5;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  bottom: 90px;
  left: 20px;
}

/*風車屋簷*/
.t2:after {
  content: "";
  position: absolute;
  background: #2cb7b5;
  width: 70px;
  height: 10px;
  border-radius: 10px;
  bottom: -50px;
  left: -35px;
}

/*扇葉範圍與動畫*/
.blade {
  position: absolute;
  width: 100px;
  height: 200px;
  left: 0;
  bottom: 0;
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  /*無限重複播放動畫*/
  animation-timing-function: linear;
  /*線性動畫*/
}

/*扇葉柄*/
.windblade {
  position: absolute;
  background: #ffffff;
  width: 4px;
  height: 76px;
  bottom: 106px;
  left: 46px;
}

/*扇葉*/
.windblade:before {
  content: "";
  position: absolute;
  background: #e2f4f4;
  opacity: 0.8;
  width: 16px;
  height: 60px;
}

/*複製一個旋轉90度*/
.windblade2 {
  transform: rotate(90deg);
  bottom: 65px;
  left: 87px;
}

/*複製一個旋轉180度*/
.windblade3 {
  transform: rotate(180deg);
  bottom: 25px;
}

/*複製一個旋轉270度*/
.windblade4 {
  transform: rotate(270deg);
  bottom: 65px;
  left: 5px;
}

/*旋轉中心點*/
.windblade4:after {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -8px;
  right: -3px;
}

/*風車旋轉動畫*/
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/*.title{
  display:flex;
  width:100%;
  height:350px;
  top:0;
  justify-content:center;
  align-items:center;
  background-image:url("https://i.imgur.com/QAeV3cW.png");
}*/





